<div class="blog__pge">
    <div class="blog__name">
        <h2>Блог</h2>
    </div>
    
    
    <div class="blog__info">
       
       <h2>Який тренд Gucci задає на Весну-Літо 2017 ?</h2>
        
        <p>Ви знали, що шкарпетки стали на диво популярними в цьому році? Ми розповімо вам про нові тренди, актуальні кольори та декор.</p>
<p>Шкарпетки в спортивному стилі з горизонтальними смужками - лише один з багатьох трендів цього року. Їх можна носити з будь-чим: з сандалями, одягом в стилі рок-гламур та навіть з діловим костюмом.</p>
<div class="blog__photo">
    <img src="img/2_42-min.jpg" alt="">
<img src="img/21_0-min.jpg" alt="">
    
</div>

<p> Модна колекція Gucci надихнула нас на створення стильних шкарпеток, які зроблять ваш образ оригінальним та незабутнім. Не дивлячись на те, що основна палітра 2017 року буде яскравою ,пастельні кольори будуть актуальними як ніколи, в моді залишаться шкарпетки та гольфи приглушених відтінків. Наші спеціалісти ретельно підбирають кольорову гамму для кожної пари шкарпеток. Ми урізноманітнюємо наш асортимент новими відтінками, тому ви зможете знайти шкарпетки на будь-який смак.
</p>
<p>Геометричні малюнки, анімалістичні принти, декор – все це буде актуально цього року. Ми ретельно стежимо за всіма новинами в сфері моди, щоб дивувати вас стильними шкарпетками від Mo-Ko-Ko Socks.</p>


        
        
        
    </div>
    
</div>