  <div class="filter__product">

  
    
   <div class="name__par">
  
   </div>
    <div class="filter__man">
    
</div>



<div class="catalog__products"  ng-repeat="kid in kidsGoods | filter:search">
<div class="products__main">
    <div class="product">
            
    <div class="product__img">
    
    <img src="" alt="">
    <img src="{{kid.photo}}" alt="">
    </div>
    
    <h2><a href="#"></a>{{kid.name}}</h2>
    <p class="price">{{kid.price}}грн</p>
      <a href="#/produkt"><input type="button" value="Go to..." class="buy"></a>
    
   
                

    </div>
    

</div>
    
 
    
    
</div>







