
  
      <main class="block">
       <div class="block-elem__move">

  <div id="myCarousel" class="block-elem__text carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
          <div class="item active">
            <p>швидка доставка в будь який куток країни</p>
          </div>
          <div class="item">
          <p>контроль на всіх етапах виробництва</p>
          </div>
        
    
<!--
    Left and right controls
    <a class="carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right__arrow carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
-->
      </div>
<!--
           <p>швидка доставка в будь який куток країни</p>
           <p>контроль на всіх етапах виробництва</p>
-->
             </div>
              </div>

          <setion class="block__elements">
        <div class='block__elem1'>

            <img src="img/first.png" alt="image1" class="img-responsive"></div>
        <div class='block__elem2'>

            <img src="img/srcond.png" alt="image1" class="img-responsive">


        </div>
        <div class="elements__information1">
            <div class="elements-infotmation1__text">
          <span class="text__first">набори шкарпеток</span> <br>
       <span class="text__second"> Шкарпетки - теплий подарунок </span>   
            </div>
    <a href="#/woman"><input type="button" class="elements-infotmation1__btn" value="Переглянути ще"></a>
        </div>
           
            <div class="elements__information2">
            <div class="elements-infotmation2__text">
          <span class="text__first">Гольфи</span> <br>
       <span class="text__second">Стильні та оригінальні</span>   
            </div>
   <a href="#/woman"> <input type="button" class="elements-infotmation1__btn" value="Вибрати колір"></a>
        </div>
           
            <div class="elements__information3">
            <div class="elements-infotmation1__text">
          <span class="text__first">Спортивні</span> <br>
       <span class="text__second">Практичні та зручні</span>   
            </div>
  <a href="#/woman"><input type="button" class="elements-infotmation3__btn" value="Вибрати"></a>
        </div>
        
        <div class='block__elem3'>

            <img src="img/third.png" alt="image1" class="img-responsive">


        </div>
        <div class='block__elem4'>

            <img src="img/four.png" alt="image1" class="img-responsive">


        </div>
        <div class='block__elem5'>

            <img src="img/fife.png" alt="image1" class="img-responsive">


        </div>
        <div class='block__elem6'>

            <img src="img/six.png" alt="image1" class="img-responsive">


        </div>
        
        
</setion>

    </main>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--<h1>main page</h1>-->
<!--
<input type="text" ng-model="text" placeholder="Search...">
<label for="name">Name</label>
<select name="" id="" ng-model='text' class="name">
    <option ng-value="x.age" ng-repeat='x in ctrl.person track by $index'>{{x.age}}</option>
    <option ng-value="product.name" ng-repeat='product in ctrl.person track by $index'>{{product.name}}</option>
    <option value="">reset</option>
</select>
<label for="price">Price</label>
<select name="" id="" ng-model='text' class="price">
     <option ng-value="product.prace" ng-repeat='product in ctrl.person track by $index'>{{product.price}}</option>
    <option value="">reset</option>
</select>
<input type="button" ng-model="text" value="Price - to +" ng-click="sorter='price'">
<input type="button" ng-model="text" value="Price + to -" ng-click="sorter='-price'">
<table class="table table-bordered table-hover">
    <tr>
        <td>id</td>
        <td ng-click="sorter='name'">name</td>
        <td ng-click="sorter='sname'">sname</td>
        <td ng-click="sorter='age'">age</td>
        <td ng-click="sorter='phone'">phone</td>
        <td ng-click="xxx=!xxx">img</td>
        <td>delete</td>
    </tr>

    <tr ng-repeat='person in ctrl.person | orderBy:sorter | filter:text track by $index' ng-class='{"text-danger":person.sname.indexOf(2)>=0}'>
        <td>{{$index+1}} in {{ctrl.person.length}}</td>
        <td>{{person.name | uppercase}}</td>
        <td>{{person.sname | lowercase}}</td>
        <td>{{person.age | currency: 'hrn'}}</td>
        <td>{{person.phone}}</td>
        <td>{{yy[$index]}}</td>
        <td><button class='btn'
        ng-class='{"btn-danger disabled":person.age==25 || person.age==35}'>Delete</button></td>
        <td  ng-click="yy[$index]=!yy[$index]"> <div style="width: 100px;
                      height:100px;
                          background-image: url(/app/img/{{person.img}})
                  " ng-hide="yy[$index]"
                  ></div></td>
                  
<button ng-click="count = count + 1" ng-init="count=0">OK</button>
<button ng-click="count = count -1" ng-init="count=count.length">-OK</button>
<p>The button has been clicked {{count}} times.</p>
         <button ng-click="x=x+1" ng-init="x=1">Image</button>
<button ng-click="x=x-1">-Image</button> 
                 
                 
                 <div style="
    width: 200px;
    height: 200px;
    background-image: url(/app/img/1.png)"></div>
                  <div class="bom" style="width: 100px;
                      height:100px;
                          background-image: url(/app/img/{{x}}.png)"></div>
                          
                                          
    </tr>
-->

    
<!--     </table>-->
      
     
     
<!--
     <form action="">
         <input ng-model="a" type="text">
         <input ng-model="b" type="text">
         <input ng-model="c" type="text">
         <input ng-model="d" type="text">
         <input ng-model="f" type="text">
                 <input ng-model="nam" type="text">
    <button class="btn" ng-class='{"btn-danger disabled":!a||!b||!c||!d||!f}'>Add</button>
        <button class="btn" ng-class='{"btn-danger disabled"}'>Add</button>
     </form>
-->
<!--
     <div class="container">
<div class="catalog">
               <div class='product' ng-repeat='product in ctrl.person | orderBy:sorter | filter:text track by $index'>
               <div><img src="" alt="">{{product.img}}</div>
                <div><img src="{{product.img}}" alt=""></div>
                  <div><img src="app/img{{product.img}}" alt=""></div>
                  <div><img src="app/img/1.png" alt=""></div>
                  <div style="width: 100px;
                      height:100px;
                          backgound-image: url(/app/img/1.png)
                  "></div>
                <div><img src="/app/img/{{product.img}}" alt=""></div>
                <p><img src="{{product.img}}" alt=""></p>
                <p>{{$index+1}}</p><br>
                <p>{{product.name}}</p><br>
                <p>{{product.display}}</p><br>
                <p>{{product.displaySize}}</p><br>
                <p>{{product.camera}}</p><br>
                <p>{{product.core}}</p><br>
                <p>{{product.protection}}</p><br>
                <p>{{product.memory}}</p><br>
                      <p>{{product.price| currency}}</p><br>   
                </div>
       </div>
</div>

 <button ng-click="addNewProduct()">Add Product</button>
-->
  
   
