
    <div class="all">
    
    <div class="product__page" ng-repeat="wom in womanGoods | filter:search">

    <div class="product__photo" >
        
        <img src="{{wom.photo}}" alt="">
        
    </div>
    
    <div class="product__info">
        <p>Shkarpetki</p>
        <p>{{wom.price}}</p>
        
        <div class="product__buy">
        <p>Розмір 25</p>
        <div class="product__basket">
            <div class="count__button">
        
                <input type="number" value="1">
              
            </div>
            <div class="add-basket__button">
                
            </div>
            
        </div>
        
        </div>
    </div>
    <div class="product__description">
        <ul>
            <li>Прикрасьте життя яскравими фарбами - купуйте носочки від MO-KO-KO SOCKS.</li>
            <li>У цих шкарпетках, Ви відчуєте максимум комфорту для свої ніг.</li>
            <li>Контроль на всіх етапах виробництва.</li>
            
            
        </ul>
        
    </div>
    
    <div class="all__description">
        
        <p>Зимова моделька від Mo-ko-ko Socks - це відмінне поєднання тепла і краси! Ідеальна комбінація кольорів, а також ексклюзивний дизайн, завжди будуть виділяти Вас з натовпу, і надавати гарний настрій.</p>
        <p>В середині такого носка є теплий шар махри. Махрові тканини, створені на основі бавовни, відрізняються своєю м'якістю, ніжністю. У них міцна структура і це дозволяє їм довго тримати форму виробу. Ці махрові шкарпетки чудово підходять для комфортного заняття спортом, адже тут розширена підтримка ступні, яка через низьке стиснення знижує ризик отримання травми під час тренування. Зроблені з якісної бавовни, тому після прання мають відмінний стан, як і до нього.</p>
        <p>Склад 86% бавовна, 8% поліамід, 6% еластан.</p>
        
        
    </div>

    
    
</div>
</div>
