<div class="filter__product">



  <div class="name__par">
 
  </div>
  <div class="filter__man">

  </div>



  <div class="catalog__products" ng-repeat="wom in womanGoods | filter:search">
   <div class="products__main">
      <div class="product">

        <div class="product__img">

          <img src="" alt="">
          <img src="{{wom.photo}}" alt="">
        </div>
        <h2><a href="#"></a>{{wom.name}}</h2>
        <p class="price">{{wom.price}} грн</p>
        <a href="#/produkt"><input type="button" value="Go to..." class="buy"></a>

      </div>


    </div>


    <!-- Modal -->



  </div>
</div>
